/* Start Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}
/* End Normalize */

/* Start Variables */
:root {
    --main-section-padding: 100px;
    --primary-color: #673fbf;
    --secondary-color: #8654d0;
    --third-color: #c053a7;
    --main-line-height: 1.2;
    --primary-heading-color: #29384d;
    --section-bg-color: #383047;
}
/* End Variables */

/* Start Components */
.claim-btn {
    text-decoration: none;
    padding: 15px 60px;
    font-size: 20px;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    letter-spacing: -1px;
    line-height: var(--main-line-height);
    word-spacing: 2px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 13px 36px -13px black;
    transition: transform 0.3s;
}

.claim-btn:hover {
    transform: translateY(-5px);
}

.claim-btn.primary {
    background-color: white;
    color: var(--primary-color);
}

.claim-btn.secondary {
    background-color: var(--primary-color);
    color: white;
}

@media (min-width: 768px) {
    .claim-btn {
        padding: 30px 60px;
    }
}

.main-heading {
    text-align: center;
    max-width: 600px;
    padding: 0 20px;
    margin: 0 auto;
}

.main-heading p:not(.description) {
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.main-heading h2 {
    line-height: var(--main-line-height);
    font-size: 34px;
    color: white;
}

.main-heading.primary h2 {
    color: var(--primary-heading-color);
}

.main-heading h2::after {
    content: "";
    display: block;
    height: 4px;
    width: 60px;
    margin: 30px auto;
    background-color: white;
}

.main-heading.primary h2::after {
    background-color: var(--primary-color);
}

.main-heading p.description {
    font-size: 15px;
    font-weight: 300;
    color: white;
}

.main-heading.primary p.description {
    color: black;
}

/* End Components */

/* Start Containers */

.container {
    width: 100%;
    padding: 0 20px;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
/* End Containers */

/* Start Settings Box */
.settings-box {
    position: fixed;
    top: 0;
    left: -200px;
    z-index: 999;
    background-color: white;
    min-height: 100vh;
    width: 200px;
    padding: 10px;
    transition: 0.3s;
}

.settings-box.show {
    left: 0;
}

.settings-box .open-btn {
    width: 36px;
    height: 36px;
    position: absolute;
    right: -36px;
    top: 125px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.settings-box .settings-container > div {
    background-color: #eee;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.settings-box .settings-container > div > h4 {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}

.settings-box .colors .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.settings-box .colors span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.settings-box .colors span.active {
    border: 3px solid white;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.settings-box .change-background .content span,
.settings-box .show-bullets .content span {
    font-size: 12px;
    font-weight: bold;
    background-color: var(--primary-color);
    color: white;
    padding: 4px 10px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.5;
}

.settings-box .change-background .content span.active,
.settings-box .show-bullets .content span.active {
    opacity: 1;
}

.settings-box .reset-btn {
    background-color: #f44336;
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}
/* End Settings Box */

/* Start Bullets */
.bullets {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    z-index: 99;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}

.bullets.showed {
    display: flex;
}

.bullets.can-show {
    right: 10px;
}

.bullets .bullet {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    box-shadow: 0px 0px 25px black;
    cursor: pointer;
    position: relative;
}

.bullets .bullet span {
    position: absolute;
    padding: 4px 10px;
    background-color: var(--primary-color);
    color: white;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    font-size: 14px;
}

.bullets .bullet span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    right: -14px;
    transform: translateY(-50%);
}

.bullets .bullet.active {
    background-color: var(--primary-color);
}
/* End Bullets */

/* Start Header */
header {
    position: absolute;
    top: 20px;
    z-index: 99;
    display: flex;
    align-items: center;
    height: 72px;
    width: 100%;
}

.burger-menu {
    height: 24px;
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    z-index: 99;
}

.burger-menu span::before,
.burger-menu span::after {
    content: "";
}

.burger-menu span,
.burger-menu span::before,
.burger-menu span::after {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.burger-menu span::before {
    top: -10px;
    left: 0;
}

.burger-menu span {
    top: 12px;
    left: 0;
}

.burger-menu span::after {
    top: 10px;
    left: 0;
}

.burger-menu.active span::before {
    transform: translateY(10px) rotate(90deg);
}

.burger-menu.active span {
    transform: rotate(-45deg);
}

.burger-menu.active span::after {
    transform: translateY(-10px) rotate(90deg);
    opacity: 0;
}

nav {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.3s ease-in-out;
}

nav::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 0.95;
}

nav.active {
    left: 0;
}

nav a {
    display: inline-flex;
    text-decoration: none;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

nav a::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: white;
    bottom: 0;
    left: -100%;
    transition: 0.3s;
}

nav a:hover::before {
    left: 0;
}

header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 600;
    font-style: italic;
    font-size: 22px;
    letter-spacing: -1px;
    text-transform: uppercase;
}

header .request-btn {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 30px;
    font-family: "Poppins";
    cursor: pointer;
}

header .request-btn.mobile {
    font-size: 20px;
    margin-top: 20px;
    z-index: 10;
}

header .request-btn:not(.mobile) {
    display: none;
    position: absolute;
    right: 80px;
    font-size: 14px;
}

@media (min-width: 1400px) {
    .burger-menu {
        display: none;
    }

    header .request-btn:not(.mobile) {
        display: block;
    }

    header .request-btn.mobile {
        display: none;
    }

    nav {
        position: absolute;
        left: 80px;
        top: auto;
        width: auto;
        height: auto;
        display: block;
    }

    nav::before {
        background-color: transparent;
    }

    nav a {
        margin-right: 15px;
        font-size: 14px;
    }

    nav a::before {
        height: 2px;
    }
}
/* End Header */

/* Start Intro */
section.intro {
    background-image: url("../imgs/intro.jpg");
    background-size: cover;
    background-position: left bottom;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-image 3s;
}

section.intro::before {
    content: "";
    background: var(--primary-color);
    background: linear-gradient(
        0deg,
        var(--primary-color) 0%,
        var(--third-color) 89%,
        var(--secondary-color) 100%
    );
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

section.intro .container {
    position: relative;
    text-align: center;
    margin-top: 100px;
}

section.intro h3 {
    color: #ddd;
    font-size: 18px;
    font-weight: 300;
}

section.intro h1 {
    color: white;
    font-size: 50px;
    line-height: var(--main-line-height);
    letter-spacing: -2px;
    word-spacing: 5px;
    margin: 10px 0 20px;
}

section.intro p {
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 50px;
}
/* End Intro */

/* Start About */
section.about {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    position: relative;
}

section.about .container {
    max-width: 600px;
}

section.about p {
    font-size: 15px;
    font-weight: 300;
}

section.about .container > p:last-of-type {
    margin-bottom: 50px;
}

section.about img {
    display: block;
    max-width: 100%;
    margin: 40px 0 20px;
}
/* End About */

/* Start Testimonials */
section.testimonials {
    padding-top: calc(var(--main-section-padding) + 50px);
    padding-bottom: var(--main-section-padding);
    overflow: hidden;
    background-color: #f6f6f6;
}

section.testimonials .inner-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    position: relative;
    transition: 0.5s;
}

section.testimonials .box {
    background-color: white;
    box-shadow: 0px 5px 30px -20px black;
    position: relative;
    padding: 90px 60px 30px;
    text-align: center;
    border-radius: 10px;
    min-width: 100%;
    margin: 0 auto;
    opacity: 0.3;
}

section.testimonials .box.active {
    opacity: 1;
}

@media (min-width: 992px) {
    section.testimonials .inner-container {
        width: 650px;
    }
}

section.testimonials .box .avatar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 96px;
    height: 96px;
}

section.testimonials .box p {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 40px;
}

section.testimonials .box .author {
    font-size: 15px;
    font-weight: bold;
    color: var(--primary-heading-color);
}

section.testimonials .box .author .name {
    color: var(--primary-color);
}

section.testimonials .slider-controls {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

section.testimonials .slider-controls .prev,
section.testimonials .slider-controls .next {
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #8888;
    color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

section.testimonials .slider-controls .prev.disabled,
section.testimonials .slider-controls .next.disabled {
    opacity: 0.5;
    cursor: no-drop;
    pointer-events: none;
}

section.testimonials .slider-controls .testimonials-bullets {
    display: flex;
    gap: 5px;
}

section.testimonials .slider-controls .testimonials-bullets span {
    width: 7px;
    height: 7px;
    background-color: #eee;
    border-radius: 50%;
    cursor: pointer;
}

section.testimonials .slider-controls .testimonials-bullets span.active {
    background-color: #888;
}
/* End Testimonials */

/* Start Services */
section.services {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-color: var(--section-bg-color);
}

section.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 90px 30px;
    margin-top: 100px;
}

section.services .box {
    background-color: white;
    padding: 60px 35px 35px;
    border-radius: 10px;
    position: relative;
}

section.services .box i {
    background-color: var(--primary-color);
    font-size: 30px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 0;
    left: 10%;
    transform: translateY(-50%);
}

section.services .box h3 {
    margin-bottom: 25px;
    color: var(--primary-heading-color);
    max-width: 160px;
    font-size: 20px;
}

section.services .box p {
    font-size: 15px;
    font-weight: 300;
}
/* End Services */

/* Start Stats */
section.stats {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
}

section.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

section.stats .box {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 30%);
}

section.stats .box i {
    font-size: 40px;
}

section.stats .box .number {
    font-size: 50px;
    margin: 20px 0;
    font-weight: bold;
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 10px;
}
/* End Stats */

/* Start Gallery */
section.gallery {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-color: var(--section-bg-color);
}

section.gallery .container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

section.gallery .container img {
    max-width: 100%;
    padding: 5px;
    background-color: white;
    cursor: pointer;
}

section.gallery .zoomed-img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 900px;
    max-width: 90%;
    z-index: 1001;
}

section.gallery .zoomed-img h4 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

section.gallery .zoomed-img img {
    max-width: 100%;
}

section.gallery .zoomed-img .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f44336;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: translate(50%, -50%);
    cursor: pointer;
}

section.gallery .overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 0.6;
    z-index: 1000;
}
/* End Gallery */
